@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Sometimes you have to answer this question.</p>
</div>

<div>
    <div>
        <div>
            //here is where i can put some question
        </div>
        <div>
            //and user can answering question
        </div>
    </div>



</div>
